[Unit]
Description=Take photos at specific times during the day
After=network.target

[Service]
ExecStart=/home/pi/rCamera/photoService/photoService.sh
WorkingDirectory=/home/pi/rCamera/photoService
StandardOutput=/home/pi/rCamera/photoService/log.txt
StandardError=/home/pi/rCamera/photoService/log.txt
Restart=alwaysB
User=pi

[Install]
WantedBy=multi-user.target
